.s-cards{
    padding: 10rem 0rem;
    background-color: #cacbcc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-cards .container{
    display: flex;
    flex-direction: column;
}

.s-cards .container .main-cards{
    width: 100%;
    display: flex;
    justify-content: center;
}
.s-cards .container .main-cards .card-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin-right: 2rem;
}

.s-cards .container .main-cards .card-left span{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    background-color: white;
    padding: 1rem;
}

.s-cards .container .main-cards  .card-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.s-cards .container .main-cards  .card-right .card{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    transition: all .3s;
}

.s-cards .container .main-cards  .card-right .card:hover{
    transform: scale(1.1);
}

.s-cards .container .main-cards  .card-right .card img{
    max-width: 100%;
}

.s-cards .container .main-cards  .card-right .card .card-text{
    background-color: white;
    padding: 1rem 1rem 3rem 1rem;
}
.s-cards .container .main-cards  .card-right .card .card-text span{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
}

/* CARDS DESTAQUES DO DIA EM MOVIMENTO */

.s-cards-destaques .container .swiper{
    padding: 5rem 0rem;
    width: 100%;
    max-width: 100rem; /* aumenta o tamanho dos cards do s-cards-destaques*/
}

.swiper-pagination .swiper-pagination-progressbar-fill{
    background-color: blueviolet;
}

.s-cards-destaques .container .swiper-slide{
    width: 100%;
    background-color: #fcf9f9;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.s-cards-destaques .container .swiper-slide img{
    width: 100%;
    border-radius: 2rem;
    transition: all .3s;
}

.s-cards-destaques .container .swiper-slide img:hover{
    filter: opacity(60%);
}
.s-cards-destaques .container .swiper-slide .card-left, .s-cards-destaques .container .swiper-slide .card-right{
    position: absolute;
    bottom: 1rem;
}

.s-cards-destaques .container .swiper-slide .card-left{
    display: flex;
    flex-direction: column;
    left: 2rem;
}

.s-cards-destaques .container .swiper-slide .card-left span, .s-cards-destaques .container .swiper-slide .card-left h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: wheat;
}
.s-cards-destaques .container .swiper-slide .card-left h6{
    font-size: 4rem;
}

.s-cards-destaques .container .swiper-slide .card-right{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;
}

.s-cards-destaques .container .swiper-slide .card-right span{
    font-size: 3rem;
}

.swiper-horizontal .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 100%;
    height: 1rem;
    left: 0;
    top: auto !important;
    bottom: 1rem !important;
}

/* CARDS-NOTICIAS */

.s-cards-noticias{
    padding: 10rem;
}
.s-cards-noticias .container .main-cards-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias{
    width: 100%;
    border-radius: 1rem;
    background-color: antiquewhite;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .img{
    width: 100%;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .img img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias{
    padding-left: 0.5rem;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias h5{
    font-size: 2.4rem;
}
.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias span a{
    font-size: 1.5rem;
}