.main-header{
	position: fixed;
	top: 0;
	box-sizing: border-box;
	padding: 5px 0px;
	height: 70px;
	width: 100%;
	z-index: 2021;
	background: var(--color-black);
	opacity: 0.8;
}

.main-header h1{
	color: white;
	font-size: 55px;
	text-align: left;
}

.navegation{
    display: flex;
    justify-content: right;
    color: white;
    margin-top: -50px;
}

.navegation a{
    margin-left: 60px;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: 16px;

}

.navegation a:hover{
	border-bottom: solid 5px pink;
	border-bottom-width: auto;
}
/*style conteudo restante*/

.content{
	height: 100%;
	width: 100%;
	margin-top: 150px;
	z-index: -1;
}

.info-content p{
	font-size: 25px;
}

.to-left{
	border: solid 3px #0c0c0c;
	padding: 40px;
	width: 100%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.to-right{
	border: solid 3px #0c0c0c;
	padding: 40px;
	width: 100%;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;	
}
.align-left{
	max-width: 50%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: left;
}

.align-right{
	display: flex;
	justify-content: right;
	text-align: right;
}

main.main {
	height: fit-content;
}

.s-home{
	padding: 2rem;
} 
.s-home .container{
	position: relative;
}

div.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

div#primary,
div#second,
div#last
{
	max-width: 50%;
	
	margin: 2rem 0;
	
	transition: transform 200ms;
}

div#primary:hover,
div#second:hover,
div#last:hover
{
	transform: scale(1.2);
}


div#primary {
	align-self: flex-start;
}

div#second {
	align-self: flex-end;
}

div#last {
	align-self: flex-start;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
