/*
    Da imagem de plano de fundo até
    o último card de jogos grátis
*/

.background-header {
    width: 100%;
    height: 55vh;
    background-image: url("https://wallpaperbat.com/img/612888-gamer-wallpaper-top-free-gamer-background.jpg"),
    linear-gradient(transparent, #000000);;
}

.background-header h1 {
    text-align: center;
    line-height: 250px;
    font-size: 48px;
    color: white;
}

.grid-of-free-games {
    margin-top: -136px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.box-text {
    background: whitesmoke;
    width: auto;
    padding: 16px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.card-img-header > img {
    border-radius: 10px 10px 0 0;
}

.title-game {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.game-tag {
    font-size: 16px;
    font-weight: bold;
}

/* CARD NOTICIAS */
/*
    Estilos para o elemento que exibe noticia
    após os jogos gratis e antes do footer
*/

.noticias {
    width: 100%;
    height: 70vh;
    position: relative;
    /* background: url("https:\/\/www.freetogame.com\/g\/26\/thumbnail.jpg") no-repeat center center; */
}

.noticias .container {
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias .noticias-opacity {
    width: inherit;
    height: 100%;
    background: url("https://cdn.cloudflare.steamstatic.com/steam/apps/578080/capsule_616x353.jpg?t=1649663090") no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}

.noticias .container .noticias-text {
    position: absolute;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Mochiy Pop One', sans-serif;

}

.noticias .container .noticias-text h2,
.noticias .container .noticias-text p {
    color: #fff;
}

.noticias .container .noticias-text h2 {
    font-size: 5rem;
}

.noticias .container .noticias-text p {
    margin-top: 2rem;
    font-size: 2rem;
}
