.user-area{
    margin: 10px;
}

.btn-account{
    padding: 15px;
    border-radius: 100px;
    cursor: pointer;
    transition: filter 500ms;
    background-color: var(--DETALHE-ELEMENTOS);
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-account:hover {
    filter: brightness(0.8);
}

.btn {
    padding: 1rem 2rem;
    /* line-height: 4.8rem; */
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

.small-profile img{
  height: 40px;
  width: 45px;
  border-radius: 100px;

}

.btn-detalhes{
    background-color: var(--warning);
    color: var(--black);
}

.btn-editar {
    background-color: var(--info);
    color: var(--black);
}
.main-home {
    overflow: hidden;
}
.background-header{
  height: 55vh;
  width: 100%;
  background: url("https://wallpaperbat.com/img/612888-gamer-wallpaper-top-free-gamer-background.jpg");
}
.background-header h1{
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  color: white;
}
.content-games{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 12px 0;
  margin-top: -84px;
}
.content-games .card{
  margin:30px;
  padding: 15px;
}

.content-games .card .box-text{
  background: whitesmoke;
  width: auto;
  padding: 5px;
  border-radius: 0 0 10px 10px;
}


.s-cards{
    padding: 10rem 0rem;
    background-color: var(--black-most-light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-cards .container{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    /* flex-direction: column; */
}

.s-cards .container .main-cards{
    width: 100%;
    display: flex;
    justify-content: center;
}

.s-cards .container .main-cards .card-left{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin-right: 2rem;
    box-shadow: -10px -10px 10px #333;
}

.s-cards .container .main-cards .card-left img{
    width: 100%;
    height: 100%;
}

.s-cards .container .main-cards .card-left span{
    font-size: 2rem;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 600;
    background-color: white;
    padding: 2rem;
}

.s-cards .container .main-cards  .card-right{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.s-cards .container .main-cards  .card-right .card{
    max-width: 50%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: -5px -5px 5px #333;
}

.s-cards .container .main-cards  .card-right .card:hover{
    transform: scale(1.1);
    box-shadow: -5px -5px 15px #333;
}

.s-cards .container .main-cards  .card-right .card img{
    width: 25rem;
    height: 14rem;
}

.s-cards .container .main-cards  .card-right .card .card-text{
    background-color: white;
    padding: 1rem 1rem 3rem 1rem;
    width: 100%;
    max-width: 25rem;
}
.s-cards .container .main-cards  .card-right .card .card-text span{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    font-family: 'Mochiy Pop One', sans-serif;
}

/* CARDS DESTAQUES DO DIA EM MOVIMENTO */
.s-cards-destaques{
    margin: 60px 0px 0px 0px;
    padding: 0;
}
.s-cards-destaques .container{
    width: 100%;
}
.s-cards-destaques .container .swiper{
    /*padding: 5rem 0rem;*/
    width: auto;
    max-width: 200rem; /* aumenta o tamanho dos cards do s-cards-destaques*/
}

.swiper-pagination .swiper-pagination-progressbar-fill{
    background-color: blueviolet;
}

.s-cards-destaques .container .swiper-slide{
    width: 100%;
    /*position: relative;*/
    background-size: cover;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    cursor: pointer;
}

.s-cards-destaques .container .swiper-slide img{
    height: 80vh;
    width: 1400px;
    transition: all .3s;
}

.s-cards-destaques .container .swiper-slide img:hover{
    filter: opacity(60%);
}
.s-cards-destaques .container .swiper-slide .card-left, .s-cards-destaques .container .swiper-slide .card-right{
    position: absolute;
    bottom: 1rem;
}

.s-cards-destaques .container .swiper-slide .card-left{
    display: flex;
    flex-direction: column;
    left: 2rem;
}

.s-cards-destaques .container .swiper-slide .card-left span, .s-cards-destaques .container .swiper-slide .card-left h6{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: wheat;
}
.s-cards-destaques .container .swiper-slide .card-left h6{
    font-size: 4rem;
}

.s-cards-destaques .container .swiper-slide .card-right{
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2rem;
}

.s-cards-destaques .container .swiper-slide .card-right span{
    font-size: 3rem;
}

.swiper-horizontal .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 100%;
    height: 1rem;
    left: 0;
    top: auto !important;
    bottom: 1rem !important;
}
.org-box{
    margin: 40px;
}

.swiper-button-prev{
    background-color: #0c0c0c;
    padding: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #FFF;
}

.swiper-button-next {
    background-color: #0c0c0c;
    padding: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFF;
}

.card .card-title{
    font-size: 20px;
}
.card .card-title,.card-desc{
    color: white;
}
.card-img img{
    height: 153.28px;
    width: 272px;
}

.horizontalBlock{
    margin:65px;
}

.horizontalBlock h2{
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 35px;
}


.s-cards-noticias .container .main-cards-noticias .card-noticias .efeito-noticias{
    width: inherit;
    height: inherit;
    border-radius: 1rem;
    background-color: var(--color-principal-black);
    transition: all .3s;
}
.s-cards-noticias .container .main-cards-noticias .card-noticias .efeito-noticias:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .area-img{
    width: 100%;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .area-img img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias{
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 3rem;

    display: flex;
    flex-direction: column;

}

.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias h5{
    color: var(--wheat);
    font-size: 2.4rem;

    margin-bottom: 1.5rem;
}
.s-cards-noticias .container .main-cards-noticias .card-noticias .text-card-noticias span {
    color: var(--white);
    font-size: 1.5rem;
}


/* CARD NOTICIAS */

.noticias{
    width: 100%;
    height: 70vh;
    position: relative;
    /* background: url("https:\/\/www.freetogame.com\/g\/26\/thumbnail.jpg") no-repeat center center; */

}

.noticias .container{
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias .noticias-opacity{
    width: inherit;
    height: 100%;
    background: url("https:\/\/www.freetogame.com\/g\/26\/thumbnail.jpg") no-repeat center center;
    background-size: cover;
    opacity: 0.2;
}

.noticias .container .noticias-text{
    position: absolute;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Mochiy Pop One', sans-serif;

}
.noticias .container .noticias-text h2, .noticias .container .noticias-text p{
    color: #fff;
}

.noticias .container .noticias-text h2{
    font-size: 5rem;
}
.noticias .container .noticias-text p{
    margin-top: 2rem;
    font-size: 2rem;
}

/* CARD JOGOS GRATIS */

.main-freegames .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.freegames-table {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.card-games {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.freegames-table:nth-child(2){
    margin: 10rem 0rem;
}

.freegames-table .description-card-games,
.freegames-table .title-card-games
{
    transition: all .5s;
    opacity: 0;
}

.background-card-games {
    width: inherit;
    height: inherit;

    transition-property: filter, opacity;
    transition-duration: 500ms;

    object-fit: cover;
}

.area-text-card-games {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 0 20px 20px;
}

.title-card-games {
    font-size: 1.8rem;
    font-weight: bold;
}

.title-card-games,
.description-card-games
{
    width: 100%;
}

.description-card-games {
    font-size: 1.6rem;
}

.card-games:hover .background-card-games{
    opacity: 50%;
    filter: blur(1px);
}

.card-games:hover .title-card-games,
.card-games:hover .description-card-games
{
    opacity: 1;
    color: #fff;
}

/* main{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.mySwiper, .leftSwiper{
    margin: 0 !important;
    width: 100%;
    max-width: 40rem;
    overflow-y: hidden;
    height: 100rem;
    padding: 2rem;
}

.swiper-pagination{
    right: -10 !important;
}

/*User content*/

.change {
    display: none;
}

.input > input,
.input > textarea
{
    display: none;

    padding: 10px;

    border: none;
}

.show-input > input,
.show-input > textarea
{
    display: block;
}

.apply-correct {
    background-color: green;

    display: none;
}

/* Profile */
.profile{
    display: flex;
    justify-content: space-around;

    padding: 200px 0;
}

.profile-image {
    position: relative;

    /* width: 150px;
    height: 150px; */
}

.profile-image img{
    border-radius: 100px;
    transition: filter 2s;
}
.profile-image img:hover{
    cursor: pointer;
}

.change-image {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--white);

    padding: 8px 24px;

    cursor: pointer;

    opacity: 0;

    transition: opacity 500ms;
}

.info-account {
    color: var(--white);
}

#file {
    display: none;
}

#submit-image-user {
    padding: 8px;

    font-size: 16px;
    font-weight: bold;

    background-color: var(--DETALHE-ELEMENTOS);

    color: var(--color-principal-black);

    transition: opacity 500ms;

    margin-top: 24px;

    cursor: pointer;
}

#submit-image-user:disabled {
    /* opacity: 0.2; */

    display: none;
}

#form-change-image-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nickname {
    margin-top: 32px;
}

.nickname span{
    font-size: 30px;

    color: var(--white);
}

.status {
    margin-top: 16px;
}

.status > span {
    font-size: 15px;

    padding: 2.5px 7.5px;

    border-radius: 25px;
}

#status-online > span{
    background-color: var(--success);
}

#status-absent > span {
    background-color: var(--warning);
}

#status-occupied > span {
    background-color: var(--danger);
}

#status-offline > span {
    background-color: var(--gray-2);
}

.user-info > .info{
    font-size: 25px;
    color: white;
    line-height: 100px;
    margin: 10px;
}

#image-user {
    margin-bottom: 32px;
}

.type-field {
    font-weight: bold;
}

.text-red {
    color: var(--danger);
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 48px;
}

.accordion:last-of-type {
    margin-bottom: 0;
}

.button-info-account {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.image-arrow {
    margin-right: 16px;

    transition: transform 500ms;
}

.text-accordion {
    font-size: 1.8rem;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-info-account {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 32px;

    overflow: hidden;

    height: 0;

    transition: height 500ms;
}

.content-info-account > span {
    font-size: 1.2rem;

    margin-bottom: 16px;
}

.content-info-account > button {
    margin-bottom: 16px;

    cursor: pointer;
}

.content-info-account > span:last-of-type,
.content-info-account > button:last-of-type
{
    margin-bottom: 0;
}

.button-update-status {
    color: var(--white);

    background-color: transparent;

    border: 1px solid var(--white);
}

.button-update-status,
.button-delete-accound
{
    padding: 10px 20px;

    border-radius: 10px;
}

.button-delete-accound {
    background-color: var(--danger);

    color: var(--white);
}

.align-items-center {
    align-items: center !important;
}

#modal-change-status {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    height: 60vh;

    background-color: var(--black);

    box-shadow: 0px 0px 10px 5px var(--black);

    border-radius: 10px;

    transition: opacity 500ms;
}

#icon-leave-modal {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 25px;

    cursor: pointer;
}

#current-status {
    margin-bottom: 48px;
}

.current-status-title {
    color: var(--white);

    font-size: 40px;
}

#interface-control-status,
#current-status
{
    display: flex;
    align-items: center;
}

.current-status-title,
.control-status-title
{
    margin-right: 24px;
}

.control-status-title {
    color: var(--white);

    font-size: 24px;
}

.status-medium > span {
    font-size: 24px;
}

.status-big > span {
    font-size: 40px;
}

.no-margin-top {
    margin-top: 0;
}

.status-item {
    margin-right: 8px;
}

.status.item:last-of-type {
    margin-right: 0;
}

#apply-status {
    position: absolute;
    bottom: 20px;
    right: 20px;

    border: none;
    outline: none;

    background-color: var(--white);

    border-radius: 3px;

    padding: 5px 10px;
}

.status-current > span,
.status-save > span
{
    transition: background-color 500ms;
}

.status-clickable {
    cursor: pointer;
}

.status-clickable > span {
    user-select: none;
}

@keyframes click-button {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.msg-erro{
    display: none;
}

.msg-erro.active{
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 30rem;
    background-color: rgb(145, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-erro span{
    font-size: 1.2rem;
    color: #fff;
}

.message-capslock {
    display: none;

    font-size: 16px;
    font-weight: bold;
}

.color-warning {
    color: var(--warning);
}

.color-danger {
    color: var(--danger);
}
