.sections-card-others {
    padding: 64px 0 ;
}

.sections-card-others > .container {
    width: 90%;
    margin: 0 auto;
}

.section-row-card-others {
    margin-bottom: 32px;
}

.main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cards-right {
    display: grid;
    grid-template: auto auto / auto auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.grid-cards-right > .card {
    width: 210px;
}

.card > img {
    width: 100%;
    height: 137px;
    object-fit: cover;
}

.card-text {
    background-color: white;
    padding: 1rem 1rem 3rem 1rem;
    width: 100%;
}

.card-text span {
    font-weight: 300;
    font-size: 1.4rem;
    font-family: 'Mochiy Pop One', sans-serif;
    max-width: 10ch;
    text-overflow: ellipsis;
}

.s-cards {
    padding: 10rem 0rem;
    background-color: var(--black-most-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-cards .container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column;  */
}

.s-cards .container .main-cards {
    width: 80%;
    display: flex;
    justify-content: center;
}

.s-cards .container .main-cards .card-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    max-width: 50%; */
    margin-right: 2rem;
    flex: 2;
    /* box-shadow: -10px -10px 10px #333; */
}

.s-cards .container .main-cards .card-left img {
    width: 100%;
    height: 100%;
}

.s-cards .container .main-cards .card-left span {
    width: 100%;
    font-size: 2rem;
    font-family: 'Mochiy Pop One', sans-serif;
    font-weight: 600;
    background-color: white;
    padding: 2rem;
}

.s-cards .container .main-cards .card-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.s-cards .container .main-cards .card-right .card {
    max-width: 50%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    box-shadow: -5px -5px 5px #333;
}

.s-cards .container .main-cards .card-right .card:hover {
    transform: scale(1.1);
    box-shadow: -5px -5px 15px #333;
}

.s-cards .container .main-cards .card-right .card img {
    width: 25rem;
    height: 14rem;
}



/* CARDS DESTAQUES DO DIA EM MOVIMENTO */
/* .s-cards-destaques {
} */

/* .s-cards-destaques .container {
    width: 100%;
} */

.container-swiper-cards-normal {
    margin-left: 64px;
}

.s-cards-destaques .swiper {
    /*padding: 5rem 0rem;*/
    width: auto;
    max-width: 200rem;
    /* aumenta o tamanho dos cards do s-cards-destaques*/
}

/* .s-cards-destaques .cards-destaques {} */

.swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: blueviolet;
}



.s-cards-destaques .swiper-slide {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.s-cards-destaques .swiper-slide img {
    width: 100%;
    height: 70vh;

    object-fit: cover;

    transition: all .3s;
}

.s-cards-destaques .swiper-slide img:hover {
    filter: opacity(60%);
}

.article-detach {
    position: absolute;
    bottom: 1rem;
}

.article-detach {
    display: flex;
    flex-direction: column;
    left: 2rem;
}

.article-detach span,
.article-detach h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--wheat);
}

.article-detach h6 {
    font-size: 4rem;
}
.slide-title{
  text-transform: uppercase;
}
.slide-sub-title{
  font-size: 11px;
}
.swiper-button-prev,
.swiper-button-next
{
    background-image: url('https://www.svgrepo.com/show/247756/left-arrow-back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 5.8rem;
    height: 5.8rem;
}

.swiper-button-prev::after,
.swiper-button-next::after
{
    display: none;
}

.swiper-button-next {
    transform: rotate(-180deg);
}

.horizontalBlock {
    margin: 65px;
}

.horizontalBlock h2 {
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 35px;
}

/*
    Outros cards
*/

/*
    Parte do código de swiper
*/

.title-cards-others {
    font-size: 2.0rem;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 16px;
}
#recommended{
  font-size: 2.0rem;
  text-transform: uppercase;

}
.swiper-pagination .swiper-pagination-progressbar-fill {
    background-color: var(--DETALHE-ELEMENTOS);
    box-shadow: 0px 0px 15px 3px var(--DETALHE-ELEMENTOS);
}

.cards-normal > .swiper-wrapper {
    padding-top: 10px;
}

/*
    Estilos para os elementos da parte de "Recomendado" da página
*/

.reco {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

.org-box {
    width: 185px;
}

.org-box:last-of-type {
    margin-right: 0;
}

.card-recommended {
    width: inherit;
    display: flex;
    flex-direction: column;
    transition: transform 200ms;
    padding: 8px;
    background-color: var(--black);
    z-index: 2;
    cursor: pointer;
}

.card-recommended:hover {
    transform: scale(2);
}

.card-image > img {
    width: 100%;
    padding: .3rem;
    object-fit: cover;
    border-radius: 6px;
}


.card-description {
    max-width: 100ch;
    font-size: 1.3rem;
    color: var(--white);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-img img {
    height: auto;
    width: auto;
    object-fit: cover;
}

.card .card-title {
    font-size: 1.6rem;
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--DETALHE-ELEMENTOS);
}

.card .card-desc {
    font-size: 1.2rem;
}
