/* Botões */
.btn{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 4.8rem;
    transition: all .3s;
    padding: 1rem 2rem;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

.btn-primary{
    color: #ccc;
    background-color: blue;
}

/* Seta a imagem de perfil do cabeçalho */

.small-profile img{
    height: 40px;
    width: 45px;
    border-radius: 100px;
}

/* Cards da página de conteúdo, ApiFreeGames */

.card .card-title {
    font-size: 20px;
}

.card .card-title,
.card-desc {
    color: white;
}

.card-img img {
    height: 153.28px;
    width: 272px;
}

/*
    Estilos do footer
*/

footer.m-footer {
    width: 100%;
    background-color: var(--color-black);
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

footer.m-footer,
article.article,
div#about-footer,
ul#list-devs,
li.dev,
footer.m-footer > div.container,
ul#list-devs,
ul.list-media-social,
.area-developer-media-social,
.media-social,
div.right,
article.article,
span#data
{
    display: flex;
}

div#about-footer,
ul#list-devs
{
    flex-direction: column;
}

footer.m-footer > div.container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

ul#list-devs {
    flex-direction: row;
}

section.section {
    margin: 0 10px;
}

strong#logo {
    font-size: 5rem;

    margin-right: 15px;
}

ul.list-media-social {
    justify-content: center;
    align-items: center;
}

strong#logo,
span#title-footer-devs,
span.name-devs,
.name-dev
{
    color: var(--white);
}

span#title-footer-devs {
    margin-bottom: 10px;

    font-size: 2rem;
}

img.image-developer {
    width: 5rem;
    height: 5rem;

    border-radius: 100%;

    margin-right: 5px;
}

span.name-devs {
    font-size: 1.5rem;

    margin-bottom: 5px;
}

.area-developer-media-social,
div.right
{
    flex-direction: column;
}

.area-developer-media-social,
.media-social
{
    justify-content: center;
    align-items: center;
}

.name-dev {
    margin-bottom: 10px;

    font-size: 2rem;
}

img.icon-dev {
    width: 2rem;

    margin: 0 5px;

    transition: transform 200ms;

    border-radius: 2px;
}

img.icon-dev:hover {
    transform: scale(1.1);
}

article.article {
    justify-content: center;
    align-items: center;
}

span#data {
    font-size: 1.5rem;
}

/*
    Estilos do preloader
*/

#background-color-pre-loader {
    /* z-index: 0; */

    transition-property: filter, background-color;
    transition-duration: 500ms;
    
    filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
}

#pre-loader-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 15;

    transition: opacity 500ms;

    border-radius: 100%;
}

/*
    Seletores extras
*/

.no-margin-top {
    margin-top: 0;
}

/*
    Animações extras
*/

@keyframes click-button {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}