@font-face {
  font-family: space;
  src: url("../font/space.ttf");
}

body {
  background: #0C0C0C;
  overflow-y: hidden;
}
#particles-js{
  z-index: -999;
  /* margin-top: -10rem; */
}
.content-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spacecon{
  font-family: spacecon;
  font-size: 10rem;
  color: #FFF;
  margin: 20px;
}
/*CSS GLITCH*/

.text-description{
  position: absolute;
  top: 95%;
  left: 49%;
  transform: translate(-50%, -50%);
}

.text-description span{
  font-size: 20px;
  color: white;
  letter-spacing: 15px;
}
.middle{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text{
  color: #FFF;
  text-transform: uppercase;
  font-size: 120px;
  text-align: center;
  letter-spacing: 20px;
  font-family: space;
  text-shadow: 3px 2px 3px rgba(255, 138, 101, 1);
}

/* Botão de cadastrar/logar usuário */

.btn-account{
  padding: 20px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  display: block;
  z-index: 999;
  position: fixed;
  right: 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFF;
  background:
  transition: filter 500ms;
  background-color: var(--DETALHE-ELEMENTOS);
}
.btn-account:hover {
  filter: brightness(0.8);
}
.user-area{
  margin-top: 10px;
}
