#background-color-pre-loader {
    /* z-index: 0; */

    transition-property: filter, background-color;
    transition-duration: 500ms;
    
    filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.5);
}

#pre-loader-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 15;

    transition: opacity 500ms;

    border-radius: 100%;
}