/*
    Estilos para a mensagem de error caso
    o cadastro ou login forem invalidos
*/

.msg-erro {
    display: none;
}

.msg-erro.active {
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 30rem;
    background-color: rgb(145, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-erro span {
    font-size: 1.2rem;
    color: #fff;
}

/*
    Estilos para mensagem de alertando que
    o capslock está ativado
*/

.message-capslock {
    display: none;

    font-size: 16px;
    font-weight: bold;
}

.color-warning {
    color: var(--warning);
}

.color-danger {
    color: var(--danger);
}

/*
    Estilos para a tela de registro/login
*/

.register-header {
	justify-content: left;
}

#logo-link {
	margin: 16px;
}

#logo-link > img {
	height: 60px;
}

.main-register-user {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #a55c1b;
	background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
}

.area-input {
	padding: 10px;
	border: 2px solid var(--color-branco);
	border-radius: 20px 0;

	transition: border 250ms;

	cursor: text;
}

.area-input:hover {
	border: 2px solid var(--DETALHE-ELEMENTOS);
}

.area-input > i, 
.area-input > .input-placeholder, 
.area-input > .input-placeholder::placeholder,
.area-input > .input-placeholder::-webkit-input-placeholder
{

	font-size: 1.8rem;
}

.area-input > .input-placeholder::placeholder {
	line-height: 3;
}

.main-register-user,
.area-input
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section-register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.register, .login{
	height: 80%;
	background:#ffff;
	margin: 50px;
}


.title-register {
	/* color: var(--white); */

	font-size: 2rem;

	margin-bottom: 30px;
}

.area-input,
.form-register-login > input[type="submit"]
{
	margin: 15px 0;
}

.form-register-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.area-input > input::placeholder {
	font-size: 12.5px;
}

.form-register-login > input[type="submit"] {
	width: 100%;
	padding: 1rem;
	border-radius: 5px;

	background-color: var(--DETALHE-ELEMENTOS);
	color: var(--black);

	transition: filter 500ms;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--black);

	font-size: 1.8rem;
	font-weight: bold;
}

.form-register-login > input[type="submit"]:hover {
	filter: brightness(0.7);
}

i.fas, i.fab {
	color: var(--DETALHE-ELEMENTOS);

	margin-right: 16px;
}

i.margin-right
{
	margin-right: 10px;
}
