@font-face {
    font-family: "gameplay";
    font-style: normal;
    src: url(../Gameplay.ttf); 
}

.register-header {
	justify-content: left;
}

.main-register-user {
	width: 100%;
	height: 100vh;
	font-family: "gameplay";
	position: absolute;
	top: 0;
	left: 0;
}

#login-account {
	background-color: var(--black);
}

.main-register-user,
.area-inputs
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.area-inputs input{
	font-family: "gameplay";
}

.section-register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.title-register {
	color: var(--white);

	font-size: 2rem;

	margin-bottom: 30px;
}

.area-inputs,
.form-register-login > button
{
	margin: 15px 0;
}

.form-register-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.area-inputs > input::placeholder {
	font-size: 12.5px;
}

.area-inputs > input,
.form-register-login > button
{
	padding: 10px;

	border-radius: 5px;
}

.form-register-login > button {
	width: 100%;

	background-color: var(--red);

	transition: filter 500ms;

	cursor: pointer;
}

.form-register-login > button:hover {
	filter: brightness(0.7);
}

i.fas, i.fab {
	color: var(--white);

}

i.margin-right
{
	margin-right: 10px;
}
