.register-header {
	justify-content: left;
}

#logo-link {
	margin: 16px;
}

#logo-link > img {
	height: 60px;
}

.main-register-user {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

#login-account {
	background-color: var(--black);
}

.main-register-user,
.area-inputs
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.section-register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	height: 100%;
}

.title-register {
	color: var(--white);

	font-size: 2rem;

	margin-bottom: 30px;
}

.area-inputs,
.form-register-login > button
{
	margin: 15px 0;
}

.form-register-login {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.area-inputs > input::placeholder {
	font-size: 12.5px;
}

.area-inputs > input,
.form-register-login > button
{
	padding: 10px;

	border-radius: 5px;
}

.form-register-login > button {
	width: 100%;

	background-color: var(--DETALHE-ELEMENTOS);

	transition: filter 500ms;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--black);

	font-size: 1.4rem;
	font-weight: bold;
}

.form-register-login > button:hover {
	filter: brightness(0.7);
}

i.fas, i.fab {
	color: var(--white);

	margin-right: 16px;
}

button[name="btn-register"] > i.fas,
button[name="btn-login"] > i.fab
{
	color: var(--black);
}

i.margin-right
{
	margin-right: 10px;
}
